@charset "UTF-8"

.apo-box 
{ margin-top:20px; }
.apo-tabla
{ width:100%; border-collapse:separate; border-spacing:0 8px; }
.apo-tabla th, .apo-tabla td 
{ padding:10px; }

/* BOTON ELIMINAR BONITO */
.btn-eliminar-icon {
    background:#e74c3c;
    border:none;
    color:white;
    padding:6px 10px;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}

.btn-eliminar-icon:hover {
    background:#c0392b;
    transform:scale(1.1);
}

/* INPUT ERROR */
.input-error {
    border:2px solid #e74c3c;
}

.alerta {
    background:#e74c3c;
    color:white;
    padding:10px;
    border-radius:8px;
    margin-bottom:10px;
}