body{
    font-family: Arial;
    background:#f4f6f8;
}
/* MENU */
.sidebar{
width:220px;
height:100vh;
background:#4a90e2;
color:white;
position:fixed;
padding:20px;
}

.sidebar h2{
margin-bottom:30px;
text-align:center;
}

.sidebar a{
display:block;
text-decoration:none;
color:white;
padding:12px;
background:#6bb6ff;
margin-bottom:8px;
border-radius:6px;
transition:0.3s;
}

.sidebar a:hover{
background:#89c8ff;
}

.container{
    width:70%;
    margin:auto;
}

h2{
    text-align:center;
}

/* cards */
.card{
    background:white;
    padding:20px;
    margin-bottom:15px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    animation:fadeIn 0.4s ease;
}

/* inputs */
input, select{
    width:100%;
    padding:8px;
    margin-top:8px;
    margin-bottom:10px;
    border-radius:6px;
    border:1px solid #ccc;
}

/* botones */
button{
    padding:8px 12px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    transition:0.2s;
}

button:hover{
    transform:scale(1.05);
}

/* colores */
.btn{
    background:#3498db;
    color:white;
}

.btn-danger{
    background:#e74c3c;
    color:white;
}

.btn-warning{
    background:#f39c12;
    color:white;
}

/* tabla */
table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

th{
    background:#3498db;
    color:white;
    padding:10px;
}

td{
    padding:8px;
    text-align:center;
}

tr:hover{
    background:#ecf0f1;
    cursor:pointer;
}

/* alerta */
.alert{
    background:#2ecc71;
    color:white;
    padding:12px;
    border-radius:6px;
    text-align:center;
    margin-bottom:10px;
    animation:fadeIn 0.5s ease;
}

/* animacion */
@keyframes fadeIn{
    from{opacity:0; transform:translateY(10px);}
    to{opacity:1; transform:translateY(0);}
}